<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat - OpenAI Bridge</title>
    <script src="https://unpkg.com/pure-md5@latest/lib/index.js"></script>
    <script src="https://unpkg.com/axios@1.3.4/dist/axios.js"></script>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script src="static/openai-bridge-api.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/2.0.3/marked.js"></script>
</head>
<body>
<div id="app">
    <h1>Chat - OpenAI Bridge</h1>
    <div>
        <p>
            <label>SECRET</label>
            &nbsp;&nbsp;
            <input type="password" v-model="pass_secret">
        </p>
        <p>
            <span>Current Selected Model:</span>
            &nbsp;&nbsp;
            <select v-model="selected_model">
                <option disabled value="">Please select one</option>
                <option v-for="option in models">{{option.id}}</option>
            </select>
            <!--            &nbsp;&nbsp;-->
            <!--            <code>{{selected_model}}</code>-->
            &nbsp;&nbsp;
            <button v-on:click="fetch_models">fetch models</button>
        </p>
    </div>
    <div>
        <p>TALKS</p>
        <div style="height: 60vh;overflow: scroll;border: 1px solid darkblue;">
            <div v-for="talk in talks">
                <p>{{talk.type}} &nbsp; {{talk.when}}</p>
                <div v-html="talk.content"></div>
            </div>
        </div>
    </div>
    <div>
        <textarea style="width: 60vw;height: 6em" v-model="prompt"></textarea>
        <button v-on:click="fetch_completion">Send</button>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            pass_id: 'bridge-front',
            pass_secret: "",
            models: [],
            talks: [],
            selected_model: "",
            prompt: "",
        },
        methods: {
            fetch_models: function () {
                call_bridge_api(
                    "/OpenAiApiV1/getModels",
                    {},
                    this.pass_id,
                    this.pass_secret,
                    (resp) => {
                        this.models = [];
                        for (let model of resp.data.data.models) {
                            this.models.push(model);
                        }
                    },
                    (error) => {
                        console.error(error)
                    }
                )
            },
            fetch_completion: function () {
                this.talks.push({
                    type: "ask",
                    content: this.prompt,
                    when: new Date(),
                });
                call_bridge_api(
                    "/OpenAiApiV1/completion",
                    {
                        model: this.selected_model,
                        prompt: this.prompt,
                        max_tokens: 1024,
                        temperature: null,
                        top_p: null,
                        n: 1,
                    },
                    this.pass_id,
                    this.pass_secret,
                    (resp) => {
                        console.log("fetch_completion resp", resp);
                        let answer = resp.data.data.choices[0];
                        this.talks.push({
                            type: "answer",
                            content: marked(answer.text),
                            when: new Date(),
                        });
                        this.prompt = "";
                    },
                    (error) => {
                        console.error("fetch_completion error", error);
                        this.talks.push({
                            type: "warning",
                            content: error,
                            when: new Date(),
                        });
                    }
                )
            }
        },
        mounted: function () {
        }
    })
</script>
</body>
</html>