<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completion - OpenAI Bridge</title>
    <script src="https://unpkg.com/pure-md5@latest/lib/index.js"></script>
    <script src="https://unpkg.com/axios@1.3.4/dist/axios.js"></script>
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script src="static/openai-bridge-api.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/2.0.3/marked.js"></script>
</head>
<body>
<div id="app">
    <h1>Completion - OpenAI Bridge</h1>
    <div>
        <p>
            Prepare Step 1: Input &nbsp;&nbsp;
            <label>SECRET</label>
            &nbsp;&nbsp;
            <input type="password" v-model="pass_secret">
        </p>
        <p>
            Prepare Step 2: &nbsp;&nbsp;
            <button v-on:click="fetch_models">Fetch Models</button>
            &nbsp;&nbsp;
            and
            <span>Select Model:</span>
            &nbsp;&nbsp;
            <select v-model="selected_model">
                <option disabled value="">Please select one</option>
                <option v-for="option in models">{{option.id}}</option>
            </select>
        </p>
    </div>
    <div>
        <p>Completion History</p>
        <div style="height: 60vh;overflow: scroll;border: 1px solid darkblue;">
            <div v-for="completion in completions">
                <p>
                    <code>{{completion.status}}</code>&nbsp;
                    On {{completion.request_time}} &nbsp;use model {{completion.model}}
                </p>
                <p>Prompt: </p>
                <div>
                    <pre v-html="completion.prompt"></pre>
                </div>
                <p>Completion:</p>
                <div>
                    <pre v-html="completion.completion"></pre>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p>Write your text here and send to OpenAI!</p>
        <textarea style="width: 60vw;height: 6em" v-model="prompt"></textarea>
        <button v-on:click="fetch_completion">Send</button>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            pass_id: 'bridge-front',
            pass_secret: "",
            models: [],
            completions: [],
            selected_model: "",
            prompt: "",
        },
        methods: {
            fetch_models: function () {
                call_bridge_api(
                    "/OpenAiApiV1/getModels",
                    {},
                    this.pass_id,
                    this.pass_secret,
                    (resp) => {
                        this.models = [];
                        for (let model of resp.data.data.models) {
                            this.models.push(model);
                        }
                    },
                    (error) => {
                        console.error(error)
                    }
                )
            },
            fetch_completion: function () {
                let new_index = this.completions.length;
                let completion = {
                    'model': this.selected_model,
                    'prompt': this.prompt,
                    'request_time': new Date(),
                    'completion': '',
                    'status': 'init',
                }
                call_bridge_api(
                    "/OpenAiApiV1/completion",
                    {
                        model: this.selected_model,
                        prompt: this.prompt,
                        max_tokens: 1024,
                        temperature: null,
                        top_p: null,
                        n: 1,
                    },
                    this.pass_id,
                    this.pass_secret,
                    (resp) => {
                        console.log("fetch_completion resp", resp);
                        let answer = resp.data.data.choices[0];
                        completion['completion'] = answer.text;
                        completion['response_time'] = new Date();
                        completion['status'] = 'done';
                        this.completions.push(completion);
                        this.prompt = "";
                    },
                    (error) => {
                        console.error("fetch_completion error", error);

                        completion['completion'] = error;
                        completion['response_time'] = new Date();
                        completion['status'] = 'error';
                        this.completions.push(completion);
                    }
                )
            }
        },
        mounted: function () {
        }
    })
</script>
</body>
</html>